<!--
=========================================================
* Material Dashboard 2 - v3.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="apple-touch-icon" sizes="76x76" href="/img/admin/apple-icon.png">
     <link rel="icon" type="image/png" href="/img/admin/favicon.png">
     <title>RISHI STUDIO</title>
     <!--     Fonts and icons     -->
     <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
     <!-- Nucleo Icons -->
     <link href="/css/admin/nucleo-icons.css" rel="stylesheet" />
     <link href="/css/admin/nucleo-svg.css" rel="stylesheet" />
     <!-- Font Awesome Icons -->
     <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
     <!-- Material Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
     <!-- CSS Files -->
     <link id="pagestyle" href="/css/admin/material-dashboard.css?v=3.1.0" rel="stylesheet" />
     <!-- Nepcha Analytics (nepcha.com) -->
     <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
     <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
     <style>
          .text-end {
               position: absolute;
               right: 0;
               top: 50%;
               transform: translateY(-35%);
          }

          .form-container {
               max-width: 800px;
               margin: 0 auto;
               padding: 2rem;
               background-color: #fff;
               border-radius: 5px;
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }

          .form-group {
               margin-bottom: 1.5rem;
          }

          .form-label {
               font-weight: bold;
               display: block;
               margin-bottom: 0.5rem;
          }

          .form-control {
               border-radius: 5px;
               padding: 0.5rem;
               font-size: 1rem;
               width: 100%;
          }

          .form-control:focus {
               box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
          }

          .form-text {
               font-size: 0.8rem;
               color: #666;
          }

          .form-select {
               border-radius: 5px;
               padding: 0.5rem;
               font-size: 1rem;
               width: 100%;
          }

          .form-select:focus {
               box-shadow: 0 0 2px 1px rgba(0, 123, 255, 0.2);
          }

          .preview-container {
               max-width: 800px;
               margin: 2rem auto;
               display: flex;
               flex-wrap: wrap;
          }

          .preview-item {
               width: 100%;
               margin-bottom: 1rem;
          }

          .preview-image {
               width: 100%;
               border-radius: 5px;
               object-fit: cover;
               height: 200px;
          }

          .delete-button {
               border: none;
               background-color: white;
               color: black;
               font-weight: bold;
               font-size: 0.85rem;
               padding: 0.25rem 0.5rem;
               border-radius: 0 0.25rem 0.25rem 0;
          }

          .delete-button:hover {
               background-color: black;
               color: white;
          }

          .image-container {
               display: flex;
               height: 150px;
               width: 180px;
               flex-wrap: nowrap;
               overflow-x: auto;
               overflow-y: hidden;
               gap: 1rem;
          }

          .image-container>* {
               flex-shrink: 0;
          }

          .form-field {
               border: 1px solid #ced4da;
               border-radius: 5px;
               padding: 10px;
          }
     </style>
</head>

<body class="g-sidenav-show  bg-gray-200">
     <aside
          class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
          id="sidenav-main">
          <hr class="horizontal light mt-0 mb-2">
          <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
               <ul class="navbar-nav">
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/dashboard">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">dashboard</i>
                              </div>
                              <span class="nav-link-text ms-1">Dashboard</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white active bg-gradient-primary" href="/admin/viewproducts">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">table_view</i>
                              </div>
                              <span class="nav-link-text ms-1">Products</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white" href="/admin/category">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">table_view</i>
                              </div>
                              <span class="nav-link-text ms-1">Category</span>
                         </a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/viewusers">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">person</i>
                              </div>
                              <span class="nav-link-text ms-1">Users</span>
                         </a>
                    </li>
                    <!-- <li class="nav-item">
          <a class="nav-link text-white " href="/profile">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">person</i>
            </div>
            <span class="nav-link-text ms-1">Profile</span>
          </a>
        </li> -->
                    <li class="nav-item">
                         <a class="nav-link text-white " href="/admin/logout">
                              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                   <i class="material-icons opacity-10">logout</i>
                              </div>
                              <span class="nav-link-text ms-1">Logout</span>
                         </a>
                    </li>
               </ul>
          </div>
     </aside>
     <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
          <!-- Navbar -->
          <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
               data-scroll="true">
               <div class="container-fluid py-1 px-3">
                    <nav aria-label="breadcrumb">
                         <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark"
                                        href="/admin/viewproducts">Products</a></li>
                              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Add Products</li>
                         </ol>
                         <h6 class="font-weight-bolder mb-0">Products</h6>
                    </nav>
          </nav>
          <!-- End Navbar -->
          <div class="container-fluid py-4">
               <div class="row">
                    <div class="col-12">
                         <div class="card my-4">
                              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                   <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                        <h6 class="text-white text-capitalize ps-3">Edit Products</h6>
                                   </div>
                              </div>
                              <div class="container-fluid">
                                   <div class="row">
                                        <div class="col-md-8">
                                             <form action="/admin/editproduct/<%= product._id%>" method="post"
                                                  enctype="multipart/form-data" onsubmit="return validateForm()">
                                                  <div class="form-group form-field">
                                                       <label for="stock">Category</label>
                                                       <select name="category" class="form-select">
                                                            <% cate.forEach(category=> { %>
                                                                 <% if (product.category===category.category) { %>
                                                                      <option value="<%= category.category %>" selected>
                                                                           <%= category.category %>
                                                                      </option>
                                                                      <% } else { %>
                                                                           <option value="<%= category.category %>">
                                                                                <%= category.category %>
                                                                           </option>
                                                                           <% } %>
                                                                                <% }); %>
                                                       </select>
                                                  </div>

                                                  <div class="form-group form-field">
                                                       <label for="p_name">Product Name</label>
                                                       <input type="text" class="form-control form-field" id="p_name"
                                                            name="p_name" placeholder="Enter product name"
                                                            value="<%= product.p_name%>" required>
                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="price">Price</label>
                                                       <input type="number" class="form-control form-field" id="price"
                                                            name="price" placeholder="Enter price"
                                                            value="<%= product.price%>" required>
                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="description">Description</label>
                                                       <textarea class="form-control form-field" id="description"
                                                            name="description" rows="3"
                                                            required><%= product.description%></textarea>
                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="discount">Discount</label>
                                                       <small id="discountHelp" class="form-text text-muted">(Discount
                                                            must be between 0 and
                                                            30%)</small>
                                                       <input type="number" class="form-control form-field"
                                                            id="discount" name="discount" placeholder="Enter discount"
                                                            value="<%= product.discount%>" required>
                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="stock">Stock</label>
                                                       <input type="number" class="form-control form-field" id="stock"
                                                            name="stock" placeholder="Enter stock"
                                                            value="<%= product.stock %>" required>
                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="stock">Listing</label>
                                                       <select name="listing" id="listing">
                                                            <option value="Listed">Listed</option>
                                                            <option value="Unlisted">Unlisted</option>
                                                       </select>

                                                  </div>
                                                  <div class="form-group form-field">
                                                       <label for="images">Images</label>
                                                       <input type="file" class="form-control-file" id="images"
                                                            accept="image/*" name="images" multiple>
                                                  </div>
                                                  <div class="col-md-4">
                                                       <div class="card">
                                                            <div class="card-body">
                                                                 <h5>Images Preview</h5>
                                                                 <div class="image-container">
                                                                      <!-- Image previews will be inserted here -->
                                                                      <img src="/<%= product.images[0]%>" alt="">
                                                                      <img src="/<%= product.images[1]%>" alt="">
                                                                      <img src="/<%= product.images[2]%>" alt="">
                                                                      <img src="/<%= product.images[3]%>" alt="">
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                                  <input type="submit" class="btn btn-primary mt-2" value="Save">

                                             </form>
                                             <script>
                                                  const imageContainer = document.querySelector('.image-container');
                                                  const imageInput = document.querySelector('#images');

                                                  imageInput.addEventListener('change', (event) => {
                                                       const files = event.target.files;

                                                       for (const file of files) {
                                                            if (['image/jpeg', 'image/png', 'image/webp', 'image/gif'].includes(file.type) || ['image/jpeg', 'image/png', 'image/webp', 'image/gif'].includes(file.type.split('/')[0] + '/' + file.type.split('/')[1].split('.')[1])) {
                                                                 const image = new Image();
                                                                 image.src = URL.createObjectURL(file);

                                                                 image.onload = () => {
                                                                      const imageElement = document.createElement('div');
                                                                      imageElement.classList.add('image-element');
                                                                      imageElement.style.height = '150px';
                                                                      imageElement.style.width = '150px';
                                                                      imageElement.style.position = 'relative';

                                                                      const imageWrapper = document.createElement('img');
                                                                      imageWrapper.classList.add('img-fluid', 'img-thumbnail');
                                                                      imageWrapper.style.height = '100%';
                                                                      imageWrapper.style.width = '100%';
                                                                      imageWrapper.style.objectFit = 'contain';
                                                                      imageWrapper.src = image.src;

                                                                      imageElement.appendChild(imageWrapper);

                                                                      const deleteButton = document.createElement('button');
                                                                      deleteButton.classList.add('btn', 'btn-danger', 'btn-sm', 'delete-button');
                                                                      deleteButton.innerHTML = '<i class="fa fa-trash-alt text-lg"></i>';
                                                                      deleteButton.style.position = 'absolute';
                                                                      deleteButton.style.top = '0';
                                                                      deleteButton.style.right = '0';

                                                                      imageElement.appendChild(deleteButton);

                                                                      imageContainer.appendChild(imageElement);

                                                                      deleteButton.addEventListener('click', () => {
                                                                           imageElement.remove();
                                                                      });
                                                                 };
                                                            }
                                                       }
                                                  });

                                             </script>
                                             <script>
                                                  // Function to validate form
                                                  function validateForm() {
                                                       const p_name = document.querySelector('[name="p_name"]');
                                                       const price = document.querySelector('[name="price"]');
                                                       const description = document.querySelector('[name="description"]');
                                                       const discount = document.querySelector('[name="discount"]');
                                                       const stock = document.querySelector('[name="stock"]');
                                                       const listing = document.querySelector('[name="listing"]');

                                                       // Check if any field is empty or contains only whitespace
                                                       if (!p_name.value.trim() || !price.value.trim() || !description.value.trim() || !discount.value.trim()
                                                            || !stock.value.trim() || !listing.value.trim()) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'Requires all fields',
                                                                 icon: 'error',
                                                                 confirmButton: 'Retry'
                                                            });
                                                            return false; // Prevent form submission
                                                       } else if (price.value < 40) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'The product price needs atleast to be $40',
                                                                 icon: 'error',
                                                                 confirmButton: 'Retry'
                                                            });
                                                            return false; // Prevent form submission
                                                       } else if (discount.value > 30 || discount.value <= 0) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'Discounts can only of 0-30%!',
                                                                 icon: 'error',
                                                                 confirmButton: 'Retry'
                                                            });
                                                            return false; // Prevent form submission
                                                       } else if (stock.value < 1) {
                                                            Swal.fire({
                                                                 title: 'Error!',
                                                                 text: 'There needs to be atleast 1 stock',
                                                                 icon: 'error',
                                                                 confirmButton: 'Retry'
                                                            });
                                                            return false; // Prevent form submission
                                                       }

                                                       return true; // Allow form submission
                                                  }
                                             </script>

                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

     </main>
     <!--   Core JS Files   -->
     <script src="/js/admin/core/popper.min.js"></script>
     <script src="/js/admin/core/bootstrap.min.js"></script>
     <script src="/js/admin/plugins/perfect-scrollbar.min.js"></script>
     <script src="/js/admin/plugins/smooth-scrollbar.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
     <script>
          var win = navigator.platform.indexOf('Win') > -1;
          if (win && document.querySelector('#sidenav-scrollbar')) {
               var options = {
                    damping: '0.5'
               }
               Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
          }
     </script>
     <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
     <script src="/js/admin/material-dashboard.min.js?v=3.1.0"></script>
</body>

</html>