<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order Checkout</title>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .order-details,
    .address-selection,
    .payment-method,
    .total-amount {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn-place-order {
      display: block;
      margin: 20px auto;
      width: 100%;
    }

    .object-fit-cover {
      object-fit: cover;
      height: 75px;
      width: 75px;
    }

    .banner-wrapper {
      background-color: black;
      padding: 10px;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .banner h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 10px;
      margin-top: 0;
      color: white;
    }

    .form-outline-inline {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .form-outline-inline input[type="search"] {
      width: 100%;
      margin-right: 5px;
    }

    .icons {
      align-items: center;
    }

    .icons a {
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      .banner h1 {
        margin-bottom: 0;
      }

      .form-outline-inline input[type="search"] {
        width: auto;
        margin-right: 0;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }

      .col-half {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
      }

      /* Additional styles for medium and large screens */
      .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 15px;
        padding-left: 15px;
      }

      .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    @media (max-width: 767px) {

      /* Adjustments for small screens */
      .col-half {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }

    .btn-place-order {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      width: 50%;
      /* Adjust the width as needed */
    }

    @media (max-width: 767px) {

      /* Additional styles for small screens */
      .btn-place-order {
        width: 100%;
        /* Full width on small screens */
      }
    }

    .address-selection-container {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    .address-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    .address-details {
      border-top: 1px solid #ccc;
      margin-top: 10px;
      padding-top: 10px;
    }

    .address-label {
      font-size: 16px;
      margin-bottom: 5px;
      color: #333;
    }

    .address-value {
      font-size: 14px;
      color: #555;
    }

    .add-address-btn {
      margin-top: 10px;
      background-color: #ffc107;
      color: #000;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
    }

    .add-address-btn:hover {
      background-color: #ffcd38;
    }
  </style>
</head>

<body>
  <div class="banner-wrapper fixed-top">
    <div class="banner">
      <a href="/">
        <h1 class="title">RISHI STUDIO</h1>
      </a>
      <div class="icons">
        <a href="/user/cart"><i class="fa fa-shopping-cart"></i></a>
        <a href="/user/wishlist"><i class="fa fa-heart"></i></a>
        <a href="/user/profile"><i class="fa fa-user"></i></a>
        <a href="/user/logout"><i class="fa fa-power-off"></i></a>
      </div>
    </div>
  </div>

  <!-- NAVIGATION ENDS -->
  <div class="container mt-4">
    <h1 class="text-center pt-5">Order Checkout</h1>
    <form id="checkoutForm" action="/user/placeorder" method="POST" onsubmit="return validateForm()">
      <div class="row mt-3">
        <div class="col-half pr-1">
          <!-- Product Section -->
          <div class="order-details">
            <h3>Your Order</h3>
            <hr />
            <div class="cart-items">
              <% usercart.product.forEach(cartItem=> { %>
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <img src="/<%= cartItem.productId.images[0] %>" alt="Product Image"
                          class="img-fluid object-fit-cover" />
                      </div>
                      <div class="col-md-8 d-flex">
                        <h5 class="card-title mr-2">
                          <%= cartItem.productId.p_name %>
                        </h5>
                        <p>Qty: <%= cartItem.quantity %> || Total Price: <%= (cartItem.productId.total_price *
                              cartItem.quantity) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
            </div>
          </div>
          <!-- Address Selection -->
          <div class="address-selection mt-2" id="address-selection-original">
            <h3>Choose Address</h3>
            <hr>
            <div class="form-scroll">
              <div class="form-check">
                <% address.forEach((addr, i)=>{ %>
                  <input class="form-check-input" value="<%= addr._id %>" type="radio" name="address" value="address1">
                  <label class="form-check-label" for="address1">
                    <h3>
                      <%= addr.name %>
                    </h3>
                    Address <%= ++i %>: <%= addr.address %>,<%= addr.state %>, <%= addr.pincode %>
                  </label> <br><br>
                  <% }) %>
              </div>
            </div>
            <a href="/user/addaddress"><button class="btn btn-warning" onclick="goToAddAddress()">Add
                Address</button></a>
          </div>
        </div>
        <div class="col-half">
          <!-- Grand Total -->
          <div class="total-amount mb-1 col-md-6 col-lg-12">
            <h3>Grand Total</h3>
            <hr />
            <p><strong>Total Amount: $<%= usercart.subtotal %></strong></p>
            <p style="display: none;" class="coupon-amount"><strong>Grand Total after applying coupon : $<span
                  id="grandTotalDisplay"></span></strong></p>
          </div>

          <!-- Coupons -->
          <div class="total-amount mt-2 mb-1 col-md-6 col-lg-12">
            <h3>Coupons</h3>
            <hr />
            <div class="position-relative">
              <% if(usercart.couponApplied){ %>
                <select id="couponSelect" data-cart-id="<%= usercart._id %>" name="coupon">

                  <option value="<%= usercart.coupon %>">
                    <%= usercart.couponCode %>
                  </option>
                </select>
                <div id="couponAppliedMessage" class="mt-2 text-success">Coupon applied!</div>
                <% } else { %>
                  <select id="couponSelect" data-cart-id="<%= usercart._id %>" name="coupon">
                    <option value="">None</option>
                    <% coupons.forEach(coupon=> { %>
                      <option value="<%= coupon._id %>">
                        <%= coupon.code %> : <span class="text-sm text-green">-$<%= coupon.discountAmount %></span>
                      </option>
                      <% }) %>
                  </select>
                  <% } %>
                    <button type="button" id="removeButton" class="btn btn-danger mt-2 ms-2">Remove</button>
                    <button type="button" id="applyButton" class="btn btn-success mt-2 ms-2">Apply</button>
            </div>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              const removeButton = document.getElementById('removeButton');
              const applyButton = document.getElementById('applyButton');
              const couponApplied = <%= usercart.couponApplied %>; // Assuming usercart.couponApplied is a boolean value
              const couponSelect = document.getElementById('couponSelect');
              const cartId = couponSelect.getAttribute('data-cart-id');

              if (!couponApplied) {
                removeButton.style.display = 'none'; // Hide the removeButton initially if couponApplied is false
              } else {
                applyButton.style.display = 'none';
              }

              // Handle apply button click
              applyButton.addEventListener('click', function () {
                const couponId = couponSelect.value; // Get the updated value of couponId when the button is clicked
                console.log("Clicked!!", couponId)
                if (couponId !== '') {
                  fetch(`/user/couponaction/${cartId}?action=apply&coupon=${couponId}`, {
                    method: 'get', // Use POST for applying coupon
                  })
                    .then(response => { return response.json() })
                    .then(response => {
                      if (response.success) {
                        Swal.fire({
                          icon: 'success',
                          title: 'Success',
                          text: `${response.message}`,
                          confirmButtonText: 'Ok'
                        }).then(() => {
                          // Redirect to landing page
                          window.location.reload();
                        });
                      } else {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: "Coupon couldn't be applied",
                          confirmButtonText: 'Ok'
                        })
                      }
                    })
                    .catch(error => {
                      // Handle error response
                      console.error('There was a problem with the fetch operation:', error);
                    });
                }

              });

              // Handle remove button click
              removeButton.addEventListener('click', function () {
                const couponId = couponSelect.value;
                console.log("Clicked!!")
                if (couponId !== '') {
                  fetch(`/user/couponaction/${cartId}?action=remove&coupon=${couponId}`, {
                    method: 'get', // Use POST for applying coupon
                  })
                    .then(response => { return response.json() })
                    .then(response => {
                      if (response.success) {
                        Swal.fire({
                          icon: 'success',
                          title: 'Success',
                          text: `${response.message}`,
                          confirmButtonText: 'Ok'
                        }).then(() => {
                          // Redirect to landing page
                          window.location.reload();
                        });
                      } else {
                        Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: "Coupon couldn't be removed",
                          confirmButtonText: 'Ok'
                        })
                      }
                    })
                    .catch(error => {
                      // Handle error response
                      console.error('There was a problem with the fetch operation:', error);
                    });
                }
              });
            });
          </script>

          <!-- Payment Method -->
          <div class="payment-method mt-2 col-md-6 col-lg-12">
            <h3>Payment Method</h3>
            <hr />
            <div class="form-check">
              <% if (usercart.subtotal <=1000) { %>
                <input class="form-check-input" type="radio" name="paymentMethod" value="COD" />
                <label class="form-check-label" for="COD">
                  Cash On Delivery
                </label>
                <% } else { %>
                  <label class="form-check-label" style="color: red;">`
                  </label>
                  <% } %>
                    <br>
                    <input class="form-check-input" type="radio" name="paymentMethod" value="RazorPay"
                      id="razorPayRadio">
                    <label class="form-check-label" for="razorPayRadio">
                      RazorPay
                    </label>
                    <br>
                    <% if (usercart.subtotal <=wallet) { %>
                      <input class="form-check-input" type="radio" name="paymentMethod" value="Wallet" />
                      <label class="form-check-label" for="wallet">
                        Wallet (Remaining: $<%= wallet %>)
                      </label>
                      <% } else { %>
                        <label class="form-check-label" style="color: red;">
                          Wallet (Insufficient Balance: $<%= wallet %>)
                        </label>
                        <% } %>
            </div>
          </div>
          <!-- Place Order Button -->
        </div>
        <button type="submit" class="btn btn-primary btn-place-order" id="placeOrderBtn">Place
          Order</button>

    </form>
  </div>

  <!-- Razorpay checkout form -->
  <div class="col-md-12 mt-3 bg-white" id="razorpayFormContainer"
    style="display: none;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 2%;">
    <form id="razorpay-form" action="/user/razorpay/<%= usercart._id %>" method="POST">
      <div class="container">
        <div class="col">
          <% address.forEach(addressItem=> { %>
            <div class="col-md-1 rounded">
              <input class="m-1" type="radio" name="addressId" value="<%= addressItem._id %>" required>
            </div>
            <div class="address-container mb-3 border rounded p-3 mt-2 position-relative">
              <div class="address-type">
                <span class="address-type-badge bg-warning text-dark px-2 py-1 rounded">
                  <%= addressItem.addressType %>
                </span>
              </div>
              <div class="address-details">
                <div class=" row name-phone mt-2">
                  <strong class="ml-3">
                    <%= addressItem.name %>
                  </strong>
                  <strong class="ml-3">
                    <%= addressItem.mobileNumber %>
                  </strong>
                </div>
                <div class="full-address">
                  <%= addressItem.address %>, <%= addressItem.locality %>, <%= addressItem.city %>, <%=
                          addressItem.state %>, <%= addressItem.pincode %>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
      <input type="hidden" name="cartId" value="<%= usercart._id %>">

        <script src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_sat2P9V0ocnwA6"
        data-amount="<%= usercart.subtotal * 100 %>"
        data-currency="INR"
        data-buttontext=""
        data-description="Payment for Order <%= usercart._id %>"
        data-prefill.name="<%= username.name %>"
        data-prefill.email="<%= username.email %>">
</script>
      <button id="rzp-button" class="btn btn-block btn-primary font-weight-bold py-3" disabled>Place order</button>
    </form>

  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var razorPayRadio = document.getElementById('razorPayRadio');
      var addressSelectionOriginal = document.getElementById('address-selection-original');
      var razorpayFormContainer = document.getElementById('razorpayFormContainer');
      var placeOrderBtn = document.getElementById('placeOrderBtn');
      var razorpayOrder = document.getElementById('rzp-button');

      // Function to show RazorPay form and hide other elements
      function showRazorPayForm() {
        addressSelectionOriginal.style.display = 'none';
        razorpayFormContainer.style.display = 'block';
        placeOrderBtn.style.display = 'none';
      }

      // Function to revert back to original state
      function revertToOriginal() {
        addressSelectionOriginal.style.display = 'block';
        razorpayFormContainer.style.display = 'none';
        placeOrderBtn.style.display = 'block';
      }

      razorPayRadio.addEventListener('change', function () {
        if (razorPayRadio.checked) {
          showRazorPayForm();
        } else {
          revertToOriginal();
        }
      });

      var paymentMethods = document.querySelectorAll('input[name="paymentMethod"]');
      paymentMethods.forEach(function (radio) {
        radio.addEventListener('change', function () {
          if (!razorPayRadio.checked) {
            revertToOriginal();
          }
        });
      });

      // Validation for address selection
      var addressRadioButtons = document.querySelectorAll('input[name="addressId"]');
      addressRadioButtons.forEach(function (radio) {
        radio.addEventListener('change', function () {
          console.log("CHanged! address")
          razorpayOrder.disabled = !document.querySelector('input[name="addressId"]:checked');
        });
      });
    });
  </script>

  <script>
    // Check if the cart is empty on page load
    window.addEventListener('DOMContentLoaded', () => {
      const cartItems = document.querySelectorAll('.cart-items .card');
      if (cartItems.length === 0) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Your cart is empty. Redirecting you to the landing page.",
          confirmButtonText: 'Ok'
        }).then(() => {
          // Redirect to landing page
          window.location.href = "/user/landing";
        });
      }
    });
  </script>

  <script>
    function validateForm() {
      const checkoutForm = document.getElementById('checkoutForm');
      // Check if all required fields are filled
      if (!checkoutForm.checkValidity()) {
        // If not, show validation messages and prevent form submission
        checkoutForm.reportValidity();
        return false;
      }

      // Check if a payment method is selected
      const paymentMethod = checkoutForm.querySelector('input[name="paymentMethod"]:checked');
      if (!paymentMethod) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Please select a payment method!",
          confirmButtonText: 'Ok'
        });
        return false;
      }

      // Check if an address is selected
      const selectedAddress = checkoutForm.querySelector('input[name="address"]:checked');
      if (!selectedAddress) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Please select an address!",
          confirmButtonText: 'Ok'
        });
        return false;
      }

      // All validations passed, allow form submission
      return true;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</body>

</html>