<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order Checkout</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 50px;
    }

    .order-details,
    .address-selection,
    .payment-method,
    .total-amount {
      background-color: #fff;
      padding: 20px;
      margin-top: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .btn-place-order {
      margin-top: 20px;
    }

    .object-fit-cover {
      object-fit: cover;
      height: 150px;
      width: 150px
    }

    .banner-wrapper {
      background-color: black;
      padding: 10px;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .banner h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 10px;
      margin-top: 0;
      color: white;
    }

    .form-outline-inline {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .form-outline-inline input[type="search"] {
      width: 100%;
      margin-right: 5px;
    }

    .icons {
      align-items: center;
    }

    .icons a {
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      .banner h1 {
        margin-bottom: 0;
      }

      .form-outline-inline input[type="search"] {
        width: auto;
        margin-right: 0;
      }
    }

    .banner i {
      color: white !important;
    }

    .banner .fa-shopping-cart:hover {
      color: yellowgreen !important;
    }

    .banner .fa-heart:hover {
      color: red !important;
    }

    .banner .fa-user:hover {
      color: blue !important;
    }

    .banner .fa-power-off:hover {
      color: gray !important;
    }

    .social-icons i {
      padding-right: 10px;
    }

    .icons i {
      z-index: 9;
      font-size: 30px;
    }
  </style>
</head>

<body>
  <div class="banner-wrapper fixed-top">
    <div class="banner">
      <a href="/">
        <h1 class="title">RISHI STUDIO</h1>
      </a>
      <!-- <form class="form-outline-inline" action="/product/search" method="get" required>
            <input type="search" id="form1" class="form-control" placeholder="Search" />
            <button type="submit" class="btn btn-primary shadow-0">
                <i class="fa fa-search"></i>
            </button>
        </form> -->
      <div class="icons">
        <a href="/user/cart"><i class="fa fa-shopping-cart"></i></a>
        <a href="/user/wishlist"><i class="fa fa-heart"></i></a>
        <a href="/user/profile"><i class="fa fa-user"></i></a>
        <a href="/user/logout"><i class="fa fa-power-off"></i></a>
      </div>
    </div>
  </div>
  <script>
    // Check if the cart is empty on page load
    window.addEventListener('DOMContentLoaded', () => {
      const cartItems = document.querySelectorAll('.cart-items .card');
      if (cartItems.length === 0) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Your cart is empty. Redirecting you to the landing page.",
          confirmButtonText: 'Ok'
        }).then(() => {
          // Redirect to landing page
          window.location.href = "/user/landing";
        });
      }
    });
  </script>

  <!--  NAVIGATION ENDS  -->
  <div class="container mt-4">
    <h1 class="text-center mb-4">Order Checkout</h1>
    <form id="checkoutForm" action="/user/placeorder" method="POST" onsubmit="return validateForm()">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <!-- Order Details -->
          <div class="order-details">
            <h3>Your Order</h3>
            <hr />
            <div class="cart-items">
              <% usercart.product.forEach(cartItem=> { %>
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <img src="/<%= cartItem.productId.images[0] %>" alt="Product Image"
                          class="img-fluid object-fit-cover" />
                      </div>
                      <div class="col-md-8">
                        <h4 class="card-title">
                          <%= cartItem.productId.p_name[0] %>
                        </h4>
                        <p class="card-text">
                          <%= cartItem.productId.description %>
                        </p>
                        <h5>Price : $<%= cartItem.productId.total_price %>
                        </h5>
                        <div class="d-flex align-items-center">
                          <div class="input-group me-2">
                            <p>Qty: <%= cartItem.quantity %> || Total Price: <%= (cartItem.productId.total_price *
                                  cartItem.quantity) %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <%})%>
            </div>
          </div>

          <!-- Address Selection -->
          <div class="address-selection">
            <h3>Choose Address</h3>
            <hr>
            <div class="form-scroll">
              <div class="form-check">
                <% address.forEach(addr=>{%>
                  <input class="form-check-input" value="<%= addr._id%>" type="radio" name="address" value="address1">
                  <label class="form-check-label" for="address1">
                    <h3>
                      <%= addr.name %>
                    </h3>
                    Address 1: <%= addr.address %>,<%= addr.state %>, <%= addr.pincode %>
                  </label> <br><br>
                  <%})%>
              </div>
            </div>
            <a href="/user/addaddress"><button class="btn btn-warning" onclick="goToAddAddress()">Add
                Address</button></a>
          </div>

          <!-- Total Amount -->
          <div class="total-amount">
            <h3>Grand Total</h3>
            <hr />
            <p><strong>Total Amount: $<%= usercart.subtotal %></strong></p>
          </div>

          <!-- Payment Method -->
          <div class="payment-method">
            <h3>Payment Method</h3>
            <hr />
            <div class="form-check">
              <input class="form-check-input" type="radio" name="paymentMethod" value="COD" />
              <label class="form-check-label" for="COD">
                Cash On Delivery
              </label>
              <br>
              <input class="form-check-input" type="radio" name="paymentMethod" value="RazorPay" />
              <label class="form-check-label" for="razorPay">
                RazorPay
              </label>
            </div>
          </div>

          <!-- Place Order Button -->
          <button type="submit" class="btn btn-primary btn-block btn-place-order" id="placeOrderBtn">
            Place Order
          </button>
        </div>
      </div>
    </form>
  </div>
  <script>
    // Function to navigate to the Add Address page
    function goToAddAddress() {
      // Navigate to the specified URL
      window.location.href = "/user/addaddress";
    }
    function validateForm() {
      const checkoutForm = document.getElementById('checkoutForm');

      // Check if all required fields are filled
      if (!checkoutForm.checkValidity()) {
        // If not, show validation messages and prevent form submission
        checkoutForm.reportValidity();
        return false;
      }

      // Check if a payment method is selected
      const paymentMethod = checkoutForm.querySelector('input[name="paymentMethod"]:checked');
      if (!paymentMethod) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Please select a payment method!",
          confirmButtonText: 'Ok'
        });
        return false;
      }

      // Check if an address is selected
      const selectedAddress = checkoutForm.querySelector('input[name="address"]:checked');
      if (!selectedAddress) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: "Please select a address!",
          confirmButtonText: 'Ok'
        });
        return false;
      }

      // All validations passed, allow form submission
      return true;
    }
  </script>

</body>

</html>