<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RISHI STUDIO</title>
    <link rel="icon" href="/img/landing/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
    <style>
        body {
            font-family: 'Times New Roman', Times, serif sans-serif;
            background-color: #f8f9fa;
            color: #333;
        }

        .profile {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .profile h5 {
            font-weight: bold;
            margin: 0;
            font-size: 1.2rem;
        }

        .sidebar {
            background-color: black;
            padding: 20px;
            border-right: 2px solid blue;
            min-height: 100vh;
            color: #fff;
        }

        @media (max-width: 767px) {
            .sidebar {
                min-height: 40vh;
            }
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 1.1rem;
        }

        .sidebar ul li a:hover {
            color: #cce0ff;
        }

        .content {
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="profile">
                    <h3 style="font-weight: bolder;">
                        <%= name %>
                    </h3>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i>
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/profile"><i class="fas fa-user"></i>
                            Profile</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/wallet"><i class="fas fa-wallet"></i> Wallet</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/vieworders"><i class="fas fa-shopping-bag"></i>
                            Orders</a>
                    </li>
                    <li class="nav-item bg-dark"><a class="nav-link" href="/user/address"><i
                                class="fas fa-map-marker-alt"></i>
                            Addresses</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/changepass"><i class="fas fa-lock"></i> Change Pass</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i>
                            Logout</a></li>
                </ul>
            </aside>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="content">
                    <h1>Edit Address</h1>
                    <div class="add-address-form">
                        <form action="/user/saveaddress/<%= addr._id %>" method="post" onsubmit="return validateForm()">
                            <div class="form-group">
                                <label for="addressType">Address Type</label>
                                <select id="addressType" name="addressType" class="form-control" style="width: 150px;"
                                    required>
                                    <option value="<%= addr.addressType %>">
                                        <%= addr.addressType %>
                                    </option>
                                    <option value="Home">Home</option>
                                    <option value="Work">Work</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" class="form-control" value="<%= addr.name %>"
                                    required>
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone No.</label>
                                <input type="text" id="phone" value="<%= addr.phone %>" name="phone"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" value="<%= addr.pincode %>" name="pincode"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" value="<%= addr.city %>" class="form-control"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="textbox" id="address" name="address" value="<%= addr.address %>"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="locality">Locality</label>
                                <input type="text" id="locality" name="locality" value="<%= addr.locality %>"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" value="<%= addr.state %>"
                                    class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        function validateForm() {
            const addType = document.querySelector('[name="addressType"]');
            const name = document.querySelector('[name="name"]');
            const phone = document.querySelector('[name="phone"]');
            const pincode = document.querySelector('[name="pincode"]');
            const city = document.querySelector('[name="city"]');
            const address = document.querySelector('[name="address"]');
            const locality = document.querySelector('[name="locality"]');
            const state = document.querySelector('[name="state"]');

            // Check if any field is empty or contains only whitespace
            if (!addType.value.trim() || !name.value.trim() || !phone.value.trim() || !pincode.value.trim() ||
                !city.value.trim() || !address.value.trim() || !locality.value.trim() || !state.value.trim()) {
                Swal.fire({
                    title: 'Error!',
                    text: 'All fields are necessary',
                    icon: 'error',
                    confirmButton: 'Cool'
                })
                return false;
            } else if (phone.value.trim().split('').length !== 10) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalide Phone Number',
                    icon: 'error',
                    confirmButton: 'Ok'
                })
                return false;
            } else if (pincode.value.trim().split('').length !== 6) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Invalide Pincode',
                    icon: 'error',
                    confirmButton: 'Ok'
                })
                return false;
            }

            return true;
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>