<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RISHI STUDIO</title>
    <link rel="icon" href="/img/landing/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: 'Times New Roman', Times, serif sans-serif;
            background-color: #f8f9fa;
            color: #333;
        }

        .profile {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .profile h5 {
            font-weight: bold;
            margin: 0;
            font-size: 1.2rem;
        }

        .sidebar {
            background-color: black;
            padding: 20px;
            border-right: 2px solid blue;
            min-height: 100vh;
            color: #fff;
        }

        @media (max-width: 767px) {
            .sidebar {
                min-height: 40vh;
            }
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 1.1rem;
        }

        .sidebar ul li a:hover {
            color: #cce0ff;
        }

        .content {
            padding: 20px;
        }

        .orders-table {
            width: 100%;
            border-collapse: collapse;
        }

        .orders-table th,
        .orders-table td {
            border: 1px solid #dee2e6;
            padding: .75rem;
            text-align: left;
        }

        .orders-table th {
            background-color: #f2f2f2;
        }

        .pagination {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .pagination .page-link {
            color: #007bff;
            border: 1px solid #007bff;
            margin: 0 5px;
            cursor: pointer;
        }

        .pagination .page-link:hover {
            background-color: #007bff;
            color: #fff;
        }

        .pagination .page-item.disabled .page-link {
            color: #6c757d;
            border-color: #6c757d;
            cursor: not-allowed;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="profile">
                    <img src="/img/landing/User Icon.webp" alt="Profile Picture">
                    <h5>Username</h5>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="/user/profile"><i class="fas fa-user"></i> Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/orders"><i class="fas fa-shopping-bag"></i> Orders</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/address"><i class="fas fa-map-marker-alt"></i>
                            Addresses</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i> Logout</a></li>
                </ul>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class=" col-9">
                    <div class="col border">
                        <div class="bg-light p-30">
                            <div class="nav nav-tabs mb-4" role="tablist">
                                <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#nav-pending">Orders</a>
                                <a class="nav-item nav-link text-dark" data-toggle="tab" href="#nav-delivered">Delivered</a>
                                <a class="nav-item nav-link text-dark" data-toggle="tab" href="#nav-cancelled">Cancelled</a>
                                <a class="nav-item nav-link text-dark" data-toggle="tab" href="#nav-returned">Returned</a>
                            
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-pending">
                                    <table class="table table-hover col-12">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product Image</th>
                                                <th scope="col">Total Amount</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Order Date</th>
                                                <th scope="col">Order Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orders.forEach((order) => { %>
                                                <% if (order.orderStatus === 'Pending') { %>
                                                    <% order.orderedItems.forEach((item) => { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/orderdetails/<%= order._id %>/<%= item.productId._id %>"><%= item.productId.name %></a>
                                                            </td>
                                                            <td><img src="<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" style="width: 100px; height: 100px;"></td>
                                                            <td>₹<%= order.totalAmount %></td>
                                                            <td><%= item.quantity %></td>
                                                            <td><%= order.orderDate.toDateString() %></td>
                                                            <td><%= order.orderStatus %></td>
                                                            <td>
                                                                <% if (order.orderStatus !== 'Cancelled') { %>
                                                                    <button class="btn btn-danger cancel-order-btn" data-order-id="<%= order._id %>">Cancel Order</button>
                                                                <% } %>
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                <% } %>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="nav-delivered">
                                    <table class="table table-hover col-12">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Product Image</th>
                                                <th scope="col">Total Amount</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Order Date</th>
                                                <th scope="col">Order Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orders.forEach((order) => { %>
                                                <% if (order.orderStatus === 'Delivered' || order.orderStatus === 'ReturnRequested') { %>
                                                    <% order.orderedItems.forEach((item) => { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/orderdetails/<%= order._id %>/<%= item.productId._id %>"><%= item.productId.name %></a>
                                                            </td>
                                                            <td><img src="<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" style="width: 100px; height: 100px;"></td>
                                                            <td>₹<%= order.totalAmount %></td>
                                                            <td><%= item.quantity %></td>
                                                            <td><%= order.orderDate.toDateString() %></td>
                                                            <td><%= order.orderStatus %></td>
                                                            <td>
                                                                <% if (order.orderStatus !== 'ReturnRequested') { %>
                                                                    <button class="btn btn-danger" onclick="requestReturn('<%= order._id %>')">Return</button>
                                                                <% } %>
                                                            </td>
                                                            
                                                           
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                <% } %>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="nav-cancelled">
                                    <table class="table table-hover col-12">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Product Image</th>
                                                <th scope="col">Total Amount</th>
                                                <th scope="col"></th> <!-- Empty column for spacing -->
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Order Date</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Cancelled Date</th> <!-- Added column for Cancelled Date -->
                                            </tr>
                                        </thead>
                                        <!-- Rest of the table content -->
                                    
                                    
                                        <tbody>
                                            <% orders.forEach((order) => { %>
                                                <% if (order.orderStatus === 'Cancelled') { %>
                                                    <% order.orderedItems.forEach((item) => { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/orderdetails/<%= order._id %>/<%= item.productId._id %>"><%= item.productId.name %></a>
                                                            </td>
                                                            <td></td>
                                                            <td><img src="<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" style="width: 100px; height: 100px;"></td>
                                                            <td>₹<%= order.totalAmount %></td>
                                                            <td></td>
                                                           
                                                            <td><%= item.quantity %></td>
                                                            <td></td>
            
                                                            <td><%= order.orderDate.toDateString() %></td>
                                                            <td></td>
            
                                                            <td>
                                                                <% if (order.cancelledDate) { %>
                                                                    <%= order.cancelledDate.toDateString() %>
                                                                <% } else { %>
                                                                    N/A
                                                                <% } %>
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                <% } %>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="tab-pane fade" id="nav-returned">
                                    <table class="table table-hover col-12">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Product Image</th>
                                                <th scope="col">Total Amount</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Quantity</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Order Date</th>
                                                <th scope="col"></th> 
                                                <th scope="col">Order Status</th>
                                           
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orders.forEach((order) => { %>
                                                <% if (order.orderStatus === 'Returned') { %>
                                                    <% order.orderedItems.forEach((item) => { %>
                                                        <tr>
                                                            <td>
                                                                <a href="/orderdetails/<%= order._id %>/<%= item.productId._id %>"><%= item.productId.name %></a>
                                                            </td>
                                                            <td></td>
                                                            <td><img src="<%= item.productId.images[0] %>" alt="<%= item.productId.name %>" style="width: 100px; height: 100px;"></td>
                                                            <td>₹<%= order.totalAmount %></td>
                                                            <td></td>
                                                            <td><%= item.quantity %></td>
                                                            <td></td>
                                                            <td><%= order.orderDate.toDateString() %></td>
                                                            <td></td>
                                                            <td><%= order.orderStatus %></td>
                                                          
                                                        </tr>
                                                    <% }); %>
                                                <% } %>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>
        const ordersPerPage = 4; // Number of orders to display per page
        let currentPage = 1;

        // Function to display orders based on current page
        function displayOrders() {
            const ordersTable = document.getElementById('ordersTable');
            const rows = ordersTable.querySelectorAll('tbody tr');
            const numPages = Math.ceil(rows.length / ordersPerPage);

            // Hide all rows
            rows.forEach(row => row.style.display = 'none');

            // Calculate start and end index for current page
            const startIndex = (currentPage - 1) * ordersPerPage;
            const endIndex = Math.min(startIndex + ordersPerPage, rows.length);

            // Display rows for current page
            for (let i = startIndex; i < endIndex; i++) {
                rows[i].style.display = '';
            }

            // Disable/enable prev/next buttons based on current page
            const prevButton = document.getElementById('prevPage');
            const nextButton = document.getElementById('nextPage');

            prevButton.style.display = (currentPage === 1 || numPages <= 1) ? 'none' : 'inline-block';
            nextButton.style.display = (currentPage === numPages || numPages <= 1) ? 'none' : 'inline-block';
        }

        // Event listener for next page button
        document.getElementById('nextPage').addEventListener('click', () => {
            const numPages = Math.ceil(document.getElementById('ordersTable').querySelectorAll('tbody tr').length / ordersPerPage);
            if (currentPage < numPages) {
                currentPage++;
                displayOrders();
            }
        });

        // Event listener for previous page button
        document.getElementById('prevPage').addEventListener('click', () => {
            if (currentPage > 1) {
                currentPage--;
                displayOrders();
            }
        });

        // Initial display of orders
        displayOrders();
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>