<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RISHI STUDIO</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/user/style2.css">
  <link rel="icon" href="/img/landing/favicon.png">
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .banner-wrapper {
      background-color: black;
      padding: 10px;
    }

    .banner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .banner h1 {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 10px;
      margin-top: 0;
      color: white;
    }

    .form-outline-inline {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .form-outline-inline input[type="search"] {
      width: 100%;
      margin-right: 5px;
    }

    .icons {
      align-items: center;
    }

    .icons a {
      margin-right: 10px;
    }

    .form-control {
      display: inline-block !important;
      /* Change display property to inline-block */
    }

    @media screen and (min-width: 768px) {
      .form-outline-inline {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .form-outline-inline input[type="search"] {
        flex: 1;
        /* Take remaining space */
        margin-right: 5px;
      }

      .form-outline-inline button[type="submit"] {
        flex-shrink: 0;
        /* Prevent button from shrinking */
      }
    }

    @media (min-width: 768px) {
      .banner h1 {
        margin-bottom: 0;
      }

      .form-outline-inline input[type="search"] {
        width: auto;
        margin-right: 0;
      }
    }

    .banner .icons i {
      font-size: xx-large;
      padding-right: 10px;
    }

    .banner i {
      color: white !important;
    }

    .banner .fa-shopping-cart:hover {
      color: yellowgreen !important;
    }

    .banner .fa-heart:hover {
      color: red !important;
    }

    .banner .fa-user:hover {
      color: blue !important;
    }

    .banner .fa-power-off:hover {
      color: gray !important;
    }

    .social-icons i {
      padding-right: 10px;
      color: white;
    }

    .breadcrumb {
      background-color: #f5f5f5;
      padding: 10px;
      margin-bottom: 20px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
      content: ">";
      padding: 0 5px;
      color: #ccc;
    }

    .breadcrumb-item a {
      color: #333;
    }

    .breadcrumb-item.active {
      color: #777;
    }

    @media (max-width: 519px) {
      .breadcrumb {
        margin-top: 2rem;
      }
    }

    .form-outline-inline {
      position: relative;
    }

    .dropdown-menu {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      z-index: 100;
      display: none;
      width: 100%;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .dropdown-item {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }

    .dropdown-item:hover {
      background-color: #f8f9fa;
    }

    .dropdown-item.text-muted {
      color: #6c757d;
    }

    .small-label {
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    footer {
      margin-top: auto;
    }
  </style>
</head>

<body class="wrapper">

  <div class="banner-wrapper fixed-top">
    <div class="banner">
      <h1>RISHI STUDIO</h1>

      <!-- Search -->
      <div class="form-outline-inline" required>
        <form id="searchForm" action="/user/search" method="GET">
          <input type="search" id="form1" name="search" class="form-control" placeholder="Search" />
          <button type="submit" class="btn btn-primary shadow-0">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <div id="searchDropdown" class="dropdown-menu position-absolute"
        style="top: 100%; left: 0; display: none; z-index: 100;"></div>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const searchInput = document.getElementById('form1');
          const searchForm = document.getElementById('searchForm');
          const searchDropdown = document.getElementById('searchDropdown');

          let debounceTimeout;

          searchForm.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            const inputValue = searchInput.value.trim();
            if (inputValue.length > 0) {
              // Redirect to /user/search with the search query as a query parameter
              window.location.href = `/user/search?search=${encodeURIComponent(inputValue)}`;
            }
          });

          searchInput.addEventListener('input', function (event) {
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(() => {
              const inputValue = event.target.value.trim();
              if (inputValue.length > 0) {
                fetch(`/user/check?check=${inputValue}`, {
                  method: 'GET',
                  headers: {
                    'Content-Type': 'application/json'
                  }
                })
                  .then(response => response.json())
                  .then(data => {
                    console.log('Response from backend:', data);
                    if (data.length > 0) {
                      displayDropdownItems(data);
                    } else {
                      displayNoMatchingProducts();
                    }
                  })
                  .catch(error => console.error('Error:', error));
              } else {
                hideSearchDropdown();
              }
            }, 300);
          });

          function displayDropdownItems(products) {
            searchDropdown.innerHTML = '';
            products.forEach(product => {
              const productItem = document.createElement('div');
              productItem.classList.add('dropdown-item');
              productItem.textContent = product.p_name; // Corrected property name
              productItem.addEventListener('click', () => {
                searchInput.value = product.p_name;
                hideSearchDropdown();
              });
              searchDropdown.appendChild(productItem);
            });
            searchDropdown.style.display = 'block';
          }

          function displayNoMatchingProducts() {
            searchDropdown.innerHTML = '';
            const noMatchItem = document.createElement('div');
            noMatchItem.classList.add('dropdown-item', 'text-muted');
            noMatchItem.textContent = 'No matching products';
            searchDropdown.appendChild(noMatchItem);
            searchDropdown.style.display = 'block';
          }

          function hideSearchDropdown() {
            searchDropdown.innerHTML = '';
            searchDropdown.style.display = 'none';
          }
        });
      </script>



      <div class="icons">
        <a href="/user/cart"><i class="fa fa-shopping-cart"></i></a>
        <a href="/user/wishlist"><i class="fa fa-heart"></i></a>
        <a href="/user/profile"><i class="fa fa-user"></i></a>
        <a href="/user/logout"><i class="fa fa-power-off text-primary"></i></a>
      </div>
    </div>
  </div>

  <div class="navbar-wrapper">
    <nav class=" navbar-inverse bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- Responsive button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navi"
            aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

      </div>
    </nav>
  </div>

  <!-- Breadcrumbs -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/user/landing">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
          </ol>
        </nav>
      </div>
      <div class="col-12 col-md-4"></div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row align-items-start">
      <!-- Filter Categories -->
      <div class="col-md-4 order-md-1 order-2 mt-4">
        <div class="row">
          <% if (category && category.length> 0) { %>
            <% category.forEach((cat)=> { %>
              <div class="col-6 mb-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="<%= cat.category %>" id="<%= cat.category %>"
                    checked>
                  <label class="form-check-label small-label" for="<%= cat.category %>">
                    <%= cat.category %>
                  </label>
                </div>
              </div>
              <% }); %>
                <% } %>
        </div>
      </div>

      <!-- Sort Functions -->
      <div class="col-md-8 order-md-2 order-1">
        <div class="row justify-content-end">
          <div class="col-md-4">
            <label for="sortSelect">Sort By:</label>
            <select id="sortSelect" class="form-control">
              <option value="/user/sortby?sortBy=nameAsc">Name (A-Z)</option>
              <option value="/user/sortby?sortBy=nameDesc">Name (Z-A)</option>
              <option value="/user/sortby?sortBy=priceAsc">Price (Low to High)</option>
              <option value="/user/sortby?sortBy=priceDesc">Price (High to Low)</option>
              <option value="/user/sortby?sortBy=available">Available</option>
              <option value="/user/sortby?sortBy=newest">Latest</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENT STARTS -->
  <section class="section-products">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-8 col-lg-6">
          <h2 class="mb-5">
            RISHI STUDIO
          </h2>
        </div>
      </div>

      <div class="row" id="productGrid">
        <% products.forEach((pdt)=> { %>
          <div class="col-md-4">
            <div id="product-<%= pdt._id %>" class="single-product">
              <div class="part-1">
                <img src="/<%= pdt.images[0] %>" alt="Product Image"
                  style="height: 100%; width: 100%; background-repeat: no-repeat; background-size: cover; background-position: center;">
                <ul>
                  <% if(pdt.stock> 0) { %>
                    <li><a href="/user/addtocart/<%= pdt._id %>"><i class="fa fa-shopping-cart"></i></a></li>
                    <% } %>
                      <li><a href="/user/addwishlist/<%= pdt._id %>"><i class="fa fa-heart"></i></a></li>
                      <li><a href="/user/productview/<%= pdt._id %>"><i class="fa fa-expand"></i></a></li>
                </ul>
              </div>
              <div class="part-2">
                <h3 class="product-title">
                  <%= pdt.p_name %>
                </h3>
                <% if(pdt.stock <=0) { %>
                  <p class="text-danger">Out of Stock</p>
                  <% } else { %>
                    <h4 class="product-old-price">$<%= pdt.price %>
                    </h4>
                    <h4 class="product-price text-lg">$<%= (pdt.total_price - pdt.offerDiscount) %>
                    </h4>
                    <% } %>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
    </div>
  </section>

  <!-- CONTENT ENDS -->
  <!--  FOOTER MARKUP STARTS  -->

  <footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Connect with Us</h3>
          <p>Follow us on social media for updates:</p>
          <div class="social-icons">
            <a href="#" class="text-light me-2"><i class="fa fa-facebook"></i></a>
            <a href="#" class="text-light me-2"><i class="fa fa-twitter"></i></a>
            <a href="#" class="text-light me-2"><i class="fa fa-instagram"></i></a>
            <a href="#" class="text-light me-2"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Contact Us</h3>
          <p>Email: info@example.com</p>
          <p>Phone: +1 234 567 890</p>
        </div>
      </div>
    </div>
  </footer>

  <!--  FOOTER MARKUP ENDS  -->
  <!-- Include jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>