<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RISHI STUDIO</title>
    <link rel="icon" href="/img/landing/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>

    <style>
        body {
            font-family: 'Times New Roman', Times, serif sans-serif;
            background-color: #f8f9fa;
            color: #333;
        }

        .profile {
            text-align: center;
            margin-bottom: 20px;
        }

        .profile img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .profile h5 {
            font-weight: bold;
            margin: 0;
            font-size: 1.2rem;
        }

        .sidebar {
            background-color: black;
            padding: 20px;
            border-right: 2px solid blue;
            min-height: 100vh;
            color: #fff;
        }

        @media (max-width: 767px) {
            .sidebar {
                min-height: 40vh;
            }
        }

        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            text-decoration: none;
            color: #fff;
            font-size: 1.1rem;
        }

        .sidebar ul li a:hover {
            color: #cce0ff;
        }

        .content {
            padding: 20px;
        }

        .address-card {
            margin-bottom: 20px;
        }

        .responsive-table {
            width: 100%;
            margin-bottom: 20px;
        }

        .responsive-table th,
        .responsive-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        @media (max-width: 768px) {

            .responsive-table th,
            .responsive-table td {
                display: block;
                width: 100%;
            }
        }

        .custom-image {
            max-width: 100%;
            max-height: 300px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar ">
                <div class="profile">
                    <h5>Hey, <%= name %>
                    </h5>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i>
                            Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/profile"><i class="fas fa-user"></i>
                            Profile</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/wallet"><i class="fas fa-wallet"></i> Wallet</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/vieworders"><i class="fas fa-shopping-bag"></i>
                            Orders</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user/address"><i class="fas fa-map-marker-alt"></i>
                            Addresses</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/changepass"><i class="fas fa-lock"></i> Change Pass</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i>
                            Logout</a></li>
                </ul>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="content">
                    <h1 class="mb-4">View Order</h1>
                    <div class="row">
                        <!-- Shipping Address Card -->
                        <div class="col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Shipping Address</h4>
                                    <hr />
                                    <h5 class="card-subtitle mb-2 text-muted">To: <%= order.shippingAddress.name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= order.shippingAddress.address %>,<br>
                                            <%= order.shippingAddress.city %>, <%= order.shippingAddress.state %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Coupon Applied Card -->
                        <div class="col-md-6 col-sm-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Coupon Applied</h4>
                                    <hr />
                                    <h5 class="card-subtitle mb-2">
                                        Coupon: <% if(order.couponApplied===null){ %>
                                            <span class="text-danger">None</span>
                                            <% }else{ %>
                                                <span class="text-success">
                                                    <%= order.couponApplied.code %>
                                                </span>
                                                <% } %>
                                    </h5>
                                    <% if(order.couponApplied !==null){ %>
                                        <p class="card-text">
                                            Cashback: $<%= order.couponApplied.discountAmount %>
                                        </p>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Ordered Items List -->
                        <% order.orderedItems.forEach((pdt)=> { %>
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                                <div class="card">
                                    <img src="<%= pdt.pimages[0] %>" class="card-img-top custom-image"
                                        alt="Product Image">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= pdt.pname %>
                                        </h5>
                                        <p class="card-text">
                                            Price: <strike class="text-danger">$<%= pdt.originalPrice%></strike> $
                                            <%= pdt.price %>
                                        </p>
                                        <%if(order.offerDisc>0){%>
                                            <p class="card-text">
                                                Offer Price: <span class="text-success">-$<%= pdt.offerDiscount %></span>
                                            </p>
                                            <p class="card-text">
                                                Total Price: $<%= pdt.price - pdt.offerDiscount%></span>
                                            </p>
                                        <%}%>
                                        <p class="card-text">Qty: <%= pdt.quantity %>
                                        </p>
                                        <p class="card-text">Delivery Status: <%= pdt.status %>
                                        </p>
                                        <% if(pdt.status==="Pending" || pdt.status==="Shipped" ){ %>
                                            <button class="btn btn-danger cancel-btn"
                                                data-order-id="<%=order._id%>"
                                                data-product-id="<%=pdt.productId%>">Cancel Order</button>
                                        <% } else if(pdt.status==="Delivered" && pdt.returned !==true){ %>
                                            <button class="btn btn-danger return"
                                                data-order-id="<%=order._id%>"
                                                data-product-id="<%=pdt.productId%>">Return Order</button>
                                        <% } %>
                                    </div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {

                                            // Add event listener to Cancel buttons
                                            document.querySelectorAll('.return').forEach(button => {
                                                button.addEventListener('click', function () {
                                                    console.log("Return button clicked!"); // Debugging statement

                                                    const orderId = this.getAttribute('data-order-id');
                                                    const productId = this.getAttribute('data-product-id');

                                                    // Display SweetAlert confirmation dialog
                                                    Swal.fire({
                                                        title: "Are you sure?",
                                                        text: "Return this order?",
                                                        icon: "warning",
                                                        showCancelButton: true,
                                                        confirmButtonColor: "#3085d6",
                                                        cancelButtonColor: "#d33",
                                                        confirmButtonText: "Return!",
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // User confirmed cancellation, send request to cancel order
                                                            fetch(`/user/returnorder/${orderId}?pid=${productId}`, {
                                                                method: "GET",
                                                            })
                                                                .then((response) => {
                                                                    if (!response.ok) {
                                                                        throw new Error("Failed to return order");
                                                                    }
                                                                    return response.json(); // Parse JSON response
                                                                })
                                                                .then((data) => {
                                                                    // Check the success status from the server response
                                                                    if (data.success) {
                                                                        // Show success message using SweetAlert
                                                                        Swal.fire({
                                                                            title: "Processing",
                                                                            text: data.message,
                                                                            icon: "success",
                                                                        }).then(() => {
                                                                            // Reload the page or perform any other actions
                                                                            window.location.reload();
                                                                        });
                                                                    } else {
                                                                        // Show error message using SweetAlert
                                                                        Swal.fire({
                                                                            title: "Failed!",
                                                                            text: data.message,
                                                                            icon: "error",
                                                                        });
                                                                    }
                                                                })
                                                                .catch((error) => {
                                                                    console.error("Error:", error);
                                                                    // Show error message using SweetAlert
                                                                    Swal.fire({
                                                                        title: "Error!",
                                                                        text: "Something went wrong.",
                                                                        icon: "error",
                                                                    });
                                                                });
                                                        }
                                                    });
                                                });
                                            });
                                        });
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            // Add event listener to Cancel buttons
                                            document.querySelectorAll('.cancel-btn').forEach(button => {
                                                button.addEventListener('click', function () {
                                                    console.log("Cancel button clicked!"); // Debugging statement

                                                    const orderId = this.getAttribute('data-order-id');
                                                    const productId = this.getAttribute('data-product-id');
                                                    // console.log(orderId, productId)
                                                    // Display SweetAlert confirmation dialog
                                                    Swal.fire({
                                                        title: "Are you sure?",
                                                        text: "Cancel this order?",
                                                        icon: "warning",
                                                        showCancelButton: true,
                                                        confirmButtonColor: "#3085d6",
                                                        cancelButtonColor: "#d33",
                                                        confirmButtonText: "Ok",
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // User confirmed cancellation, send request to cancel order
                                                            fetch(`/user/cancelsingle/${orderId}?pid=${productId}`, {
                                                                method: "GET",
                                                            })
                                                                .then((response) => {
                                                                    if (!response.ok) {
                                                                        throw new Error("Failed to cancel order");
                                                                    }
                                                                    return response.json(); // Parse JSON response
                                                                })
                                                                .then((data) => {
                                                                    // Check the success status from the server response
                                                                    if (data.success) {
                                                                        // Show success message using SweetAlert
                                                                        Swal.fire({
                                                                            title: "Cancelled!",
                                                                            text: data.message,
                                                                            icon: "success",
                                                                        }).then(() => {
                                                                            // Reload the page or perform any other actions
                                                                            window.location.reload();
                                                                        });
                                                                    } else {
                                                                        // Show error message using SweetAlert
                                                                        Swal.fire({
                                                                            title: "Failed!",
                                                                            text: data.message,
                                                                            icon: "error",
                                                                        });
                                                                    }
                                                                })
                                                                .catch((error) => {
                                                                    console.error("Error:", error);
                                                                    // Show error message using SweetAlert
                                                                    Swal.fire({
                                                                        title: "Error!",
                                                                        text: "Something went wrong.",
                                                                        icon: "error",
                                                                    });
                                                                });
                                                        }
                                                    });
                                                });
                                            });
                                        });
                                    </script>


                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>