<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>RISHI STUDIO</title>
     <link rel="icon" href="/img/landing/favicon.png">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.all.min.js"></script>
     <style>
          body {
               font-family: "Times New Roman", Times, serif sans-serif;
               background-color: gray;
               color: #333;
          }

          .profile {
               text-align: center;
               margin-bottom: 20px;
          }

          .profile img {
               width: 100px;
               height: 100px;
               border-radius: 50%;
               margin-bottom: 10px;
          }

          .profile h5 {
               font-weight: bold;
               margin: 0;
               font-size: 1.2rem;
          }

          .sidebar {
               background-color: black;
               padding: 20px;
               border-right: 2px solid blue;
               min-height: 100vh;
               color: #fff;
          }

          @media (max-width: 767px) {
               .sidebar {
                    min-height: 40vh;
               }
          }

          .sidebar ul {
               list-style-type: none;
               padding: 0;
               margin: 0;
          }

          .sidebar ul li {
               margin-bottom: 10px;
          }

          .sidebar ul li a {
               text-decoration: none;
               color: #fff;
               font-size: 1.1rem;
          }

          .sidebar ul li a:hover {
               color: #cce0ff;
          }

          .content {
               padding: 20px;
          }

          /* .input-group input:nth-child(0){
        width: 250px ; /* Adjust the width as needed */

          .change-password-form {
               background-color: white;
               padding: 30px;
               border-radius: 5%;
               box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
               /* Add shadow effect */
               align-items: center;
               margin-top: 2rem;
          }

          .wallet-info {
               display: flex;
               align-items: center;
               justify-content: center;
               padding: 20px;
               background-color: #f8f9fa;
               border-radius: 8px;
               box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          }

          .wallet-icon {
               margin-right: 20px;
               color: #007bff;
               /* Change the color to your preference */
          }

          .wallet-balance {
               font-size: 24px;
               color: #333;
               /* Change the color to your preference */
          }

          @media (max-width: 768px) {
               .wallet-info {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
               }

               .wallet-icon {
                    margin-right: 0;
                    margin-bottom: 10px;
               }

               .wallet-balance {
                    font-size: 20px;
               }

               .transaction-history h2 {
                    font-size: 24px;
               }

               .table-responsive {
                    overflow-x: auto;
               }
          }

          .transaction-history {
               margin-top: 20px;
          }

          /* Style the transaction history table */
          .transaction-history table {
               width: 100%;
               background-color: #f8f9fa;
               border-radius: 8px;
               box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          }

          .transaction-history th,
          .transaction-history td {
               padding: 10px;
               text-align: center;
          }

          .transaction-history th {
               background-color: #007bff;
               /* Change the color to your preference */
               color: #fff;
          }

          .transaction-history tbody tr:nth-child(even) {
               background-color: #f2f2f2;
               /* Change the color to your preference */
          }

          .transaction-history tbody tr:hover {
               background-color: #e9ecef;
               /* Change the color to your preference */
          }
     </style>
</head>

<body>
     <div class="container-fluid">
          <div class="row">
               <aside class="col-md-3 col-lg-2 d-md-block sidebar">
                    <div class="profile">
                         <h5>Hi, <%= name %>
                         </h5>
                    </div>
                    <ul class="nav flex-column">
                         <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i>
                                   Home</a></li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/profile"><i class="fas fa-user"></i> Profile</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/wallet"><i class="fas fa-wallet"></i> Wallet</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/vieworders"><i class="fas fa-shopping-bag"></i> Orders</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/address"><i class="fas fa-map-marker-alt"></i>
                                   Addresses</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/changepass"><i class="fas fa-lock"></i> Change Pass</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="/user/logout"><i class="fas fa-power-off"></i> Logout</a>
                         </li>
                    </ul>
               </aside>
               <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div class="content d-flex justify-content-center align-items-center">
                         <div class="change-password-form">
                              <h1>Wallet</h1>
                              <div class="wallet-info">
                                   <div class="wallet-icon">
                                        <i class="fas fa-wallet fa-3x"></i>
                                   </div>
                                   <div class="wallet-balance">
                                        <h4>Remaining Balance:</h4>
                                        <p><strong>$<%= wallet %></strong></p>
                                   </div>
                                   </div>
                                   <!-- Transaction History starts here -->
                                   <div class="transaction-history mt-4">
                                        <h4>Transaction History</h4>
                                        <div class="table-responsive">
                                             <table class="table table-striped">
                                                  <thead>
                                                       <tr>
                                                            <th>Date</th>
                                                            <th>Transaction Method</th>
                                                            <th>Amount</th>
                                                       </tr>
                                                  </thead>
                                                  <tbody>
                                                       <% history.forEach(item=> { %>
                                                            <tr>
                                                                 <td>
                                                                      <%= item.timestamp.toLocaleDateString() %>
                                                                 </td>
                                                                 <td>
                                                                      <%= item.transactionType %>
                                                                 </td>
                                                                 <%if(item.transactionType == "Debit"){%>
                                                                 <td class="text-danger">-$<%= item.amount %>
                                                                 </td>
                                                                 <%}else{%>
                                                                 <td class="text-success">+$<%= item.amount %>
                                                                 </td>
                                                                 <%}%>
                                                            </tr>
                                                            <% }); %>
                                                  </tbody>
                                             </table>
                                        </div>
                                   </div>
                                   <!-- Transaction History ends here -->
                              </div>
                         </div>
                    </div>
               </main>

          </div>
     </div>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>